#createSet {
	counter-reset: my-badass-counter;
}
#createSet .anotherCard:before {
	content: counter(my-badass-counter);
	counter-increment: my-badass-counter;
	display:block;
	padding-bottom: 5px;
}
.remove {
	height: 20px;
	line-height:20px;
	background: #e77;
	border-radius: 50%;
	position: absolute;
	top:0;
	right:0;
	font-size:;
	cursor:pointer;
	padding: 0 7px 0 6px;
	font-size:.6em;
}
.remove:hover {
	box-shadow: inset 0 100px rgba(255, 255, 255, 0.1);
}