/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

* {
	user-select:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

p {
	user-select:initial;
	-webkit-user-select:initial;
	-moz-user-select:initial;
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 15px;
	display:inline-block;
}

a {
	color :#CCC;
	display:inline-block;
}

h1,h2,h3,h4,h5 {
	margin-bottom:15px;
}

.hidden {
	display:none;
}
html {
	width: 100%;
	color: #bbbbbb;
	font-size: 1.2em;
	box-shadow: inset rgba(0, 0, 0, 0.2) 0 -15px 10px;
}

html, body {
	height:100%;
	background:#222;
	font-family: 'Play', sans-serif;
	color:white;
}

#page {
	height:100%;
	background:#222;
}

/* logo */
#banner {
	height:150px;
	background:#2F4940;
}
#cardholder {
	width:50px;
	margin:0 auto;
	position:relative;
}

#site-title {
	position:absolute;
	top:70px;
	width:100px;
	left:60px;
	z-index:10;
}

#site-title a {
	color:white;
}

#cards {
  position: absolute;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height:200px;
  display:inline-block;
  z-index:1;
  top:35px;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d; 
  outline: 1px solid transparent;
}

.card {
  -webkit-transform-origin: 0 120%;
  transform-origin: 0 120%;
  height: 3.5em;
  width: 2.5em;
  cursor: default;
  border-radius: .2em;
  -moz-border-radius: .2em;
  border: 2px solid white;
  position: absolute;
  background: #44bb88;
  box-shadow: inset #44bb88 100px 0;
  -moz-box-shadow: inset #44bb88 100px 0;
  transition: all .2s;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d; 
  outline: 1px solid transparent;
}
.card span {
  color: white;
  opacity: 0;
  font-size: 1em;
  margin: .1em;
  transition: all .3s;
}
.card:hover {
  box-shadow: inset rgba(255, 255, 255, 0.1) 100px 0;
  -moz-box-shadow: inset rgba(255, 255, 255, 0.1) 100px 0;
}
.card:hover span {
  opacity: .3;
}
.card:nth-child(1) {
  -webkit-animation: spread-1 0.7s 1s forwards ease-out;
  animation: spread-1 0.7s 1s forwards ease-out;
}
.card:nth-child(2) {
  -webkit-animation: spread-2 0.7s 1s forwards ease-out;
  animation: spread-2 0.7s 1s forwards ease-out;
}
.card:nth-child(3) {
  -webkit-animation: spread-3 0.7s 1s forwards ease-out;
  animation: spread-3 0.7s 1s forwards ease-out;
}
.card:nth-child(4) {
  -webkit-animation: spread-4 0.7s 1s forwards ease-out;
  animation: spread-4 0.7s 1s forwards ease-out;
}
.card:nth-child(5) {
  -webkit-animation: spread-5 0.7s 1s forwards ease-out;
  animation: spread-5 0.7s 1s forwards ease-out;
}

@-webkit-keyframes spread-1 {
  to {
    -webkit-transform: rotate(12deg);
  }
}

@keyframes spread-1 {
  to {
    transform: rotate(12deg);
  }
}

@-webkit-keyframes spread-2 {
  to {
    -webkit-transform: rotate(24deg);
  }
}

@keyframes spread-2 {
  to {
    transform: rotate(24deg);
  }
}

@-webkit-keyframes spread-3 {
  to {
    -webkit-transform: rotate(36deg);
  }
}

@keyframes spread-3 {
  to {
    transform: rotate(36deg);
  }
}

@-webkit-keyframes spread-4 {
  to {
    -webkit-transform: rotate(48deg);
  }
}

@keyframes spread-4 {
  to {
    transform: rotate(48deg);
  }
}

@-webkit-keyframes spread-5 {
  to {
    -webkit-transform: rotate(60deg);
  }
}

@keyframes spread-5 {
  to {
    transform: rotate(60deg);
  }
}

.fixed {
	position:fixed;
}

.topnav {
	font-family: 'Roboto', sans-serif;
	font-size: .9em;
	background: #163B2B;
	width:100%;
	height:47px;
}

.topnav.secondary {
	display:none;
	top:0;
	z-index:10;
}

.topnav ul {
	width:90%;
	max-width:1280px;
	margin:0 auto;
}

.topnav a, .topnav a:visited {
	color:#fff;
	float:left;
}


.topnav li ul li {
  background:#222;
  border
}
.topnav li ul li span {
  color: #446;
  text-shadow: none;
}
.topnav span, .topnav label, .topnav a {
  padding: 15px 20px;
  cursor: pointer;
  display: block;
  border-left:0px solid #0B2E1F;
  transition: background .2s;
}
.topnav span:hover, .topnav label:hover, .topnav a:hover {
  background: #0B2E1F;
}
.topnav a.active {
	background: #0B2E1F;
	color:#5B7A5E;
	transition:none;
}

.topnav .submenu a:hover {
border-left:0px solid #0B2E1F;
}


.topnav span.dropdown:after, .topnav label.dropdown:after {
  content: " \25b6";
  /* 0025B2 */
  vertical-align: middle;
  font-size: .6em;
}

.right {
  float: right;
}
li.message.right {
padding: 16px 20px;
font-size: .8em;
}

#menu {
	line-height:1.4em;
	font-size:16pt;
	margin:0 auto;
	max-width:600px;
	width:100%;
}

.container {
  max-width: 1080px;
  width:90%;
}

.subcontainer {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

#content {
	padding-top:35px;
	padding-bottom:15px;
}

#content li {
	padding:5px 0;
}

#pane {
	overflow:auto;
	height:100%;
}
#padded {
	padding-right:20px;
}

.hidden {
	display:none;
}

#modal {
	color:#444;
}
ul, li {
	list-style-type:none;
}
.little {
	font-size:.6em;
}

.link, .link:hover {
	color:white;
	cursor:pointer;
}

h3 {
	font-size: .8em;
}

#recent-games {
	color:#333;
}
#recent-games p {
	margin-left:15px;
}
#recent-games .btn {
	float:right;
	margin-top: -3px;
}

.main-nav a {
	width:70%;
	display:block;
	margin:15px auto;
	white-space: normal;
}

.valign {
	top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.your-game {
	position:relative;
	padding-bottom:2em;
}
.your-game .promo-card:before {
	content:'';
	
}
.your-game .promo-card {
	width:100%;
	padding:70% 0;
	position:relative;
	display:block;
	background:#EEE;
}
.your-game .promo-card:hover {
	box-shadow: #3FD8EE 0px 0px 15px;
}
.your-game .promo-card .link {
	position:absolute;
	left:0;
	right:0;
	text-align: center;	
	color: #415255;
	font-size:1.2em;
}
.your-game .remove-game {
	position: absolute;
	top:-9px;
	right:7px;
}
.your-game .remove-game:hover {
	box-shadow: inset rgba(255,255,255,.1) 1000px 0 0;
}
.your-game .remove-game:active {
	box-shadow: inset rgba(0,0,0,.1) 1000px 0 0;	
}
.your-game .edit-game {
	margin-top:1em;
}


/* bootstrap rewrites */

.alert {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:.8em;
	display:inline-block;
}

.btn-group,
.btn-group-vertical {
	padding:0;
}

.form-group input:focus, .form-group textarea:focus {
	background: #CADDFF;
	color: black;
}

a:hover {
	text-decoration:none;
}

.submenu {
	background:white;
	z-index:1;
	display:none;
}
.submenu li {
	margin:0;
}
.submenu a {
	color:black;
	padding:5px 10px;
	display:block;
}
.submenu a:hover {
	color:white;
	background:#48B;
}
.form-group {
	position:relative;
}

.form-control[disabled], 
.form-control[readonly], 
fieldset[disabled] .form-control {
	background-color: #AAA;
	border-color: #333;
}

label {
	font-family: arial;
	font-size: .8em;
	color: #CCC;
	padding: 5px 0;
}

@media (max-width: 450px) {
	body {
		padding:0;
		margin:0 !important;
	}
	.topnav {
		font-size:.8em;
		padding:0 10px;
		height:40px;
	}
	.topnav ul {
		width:initial;
	}
	#menu {
		line-height:.1em;
	}
	.container {
		width:100%;
	}
	.subcontainer {
		width:95% !important;
	}
	#content {
		padding: 0 15px;
	}
	#banner {
		height:110px;
	}
	#cardholder {
		transform:scale(.7);
	}
}