html {
background: #2a2a2a url(/images/navy_blue.png);
}
body {
overflow:hidden;
cursor:pointer;
margin:10px;
background:inherit;
}
*, p {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
#page {
	background:inherit;
}

#card h2 {
	border-bottom: #222 .2em dotted;
	padding-bottom: 10px;
	text-transform: uppercase;
	text-shadow: #222 2px 2px 1px;
	display:none;
	color:#FFA;
}
#card h3 {
	font-size:.6em;
	display:none;
}
#card h4 {
	font-size:.5em;
	display:none;
}
#game-description {
	display:none;
	font-size:.5em;
}

#card.not-playing h2,
#card.not-playing h3,
#card.not-playing #game-description {
	display:block;
}
#card.not-playing h4 {
	display:inline-block;
}

#card { 
font-size: 2em; 
	text-align:center;
	width: 450px;
	margin: 0 auto;
	height:630px;
	overflow:hidden;
	background:#EEE;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	box-shadow: inset rgba(0,0,0,0.3) 0 1px 0 0;
	-moz-box-shadow: inset rgba(0,0,0,0.3) 0 1px 0 0;
	color:#222;
	border:.1em double #CCC;
}
#card.not-playing {
	background: #2a2a2a url(/images/skulls-red.png);
	color:white;
	border:5px solid #743333;
}
#card.not-playing #card-text {
	display:none;
}

#card-holder {
position: relative;
top: 50%;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
transform: translateY(-50%);
padding: 0 20px;
}

.black { color:black; }
.red { color:red; }
#card:active { opacity:.9;}

#card.not-playing #identifiers,
#card.not-playing #suits {
	display:none;
}

#suits * {
	display:inline-block;
}
@-webkit-keyframes thumb {
	0% { -webkit-transform: scale(1); }
	50% { -webkit-transform: scale(0.9); }
	100% { -webkit-transform: scale(1); }
}

@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
@keyframes spaceboots {
	0% { transform: translate(2px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(0px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(2px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(2px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#card:active .label,
#card:active #identifiers,
#card:active #suits * { 
	-webkit-animation: spaceboots .8s infinite linear;
	animation: spaceboots .8s infinite linear;
}
#card #identifiers,
#card #suits * { 
font-size:3em;
}

/*overwrite logo */
#banner {
	background:none;
	position:absolute;
}
#cardholder {
	position: relative;
	top: -30px;
	left: 55px;
	height:0;
	margin:0;
}
#site-title {
	position: absolute;
	top: 55px;
	width: 100px;
	left: -30px;
	z-index: 10;
}
#site-title a {
	color:#333;
}

.card {
	box-shadow: inset #FFFFFF 100px 0;
	-moz-box-shadow: inset #FFFFFF 100px 0;
}

.card:nth-child(1) {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
}
.card:nth-child(2) {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
}
.card:nth-child(3) {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
}
.card:nth-child(4) {
    -webkit-transform: rotate(48deg);
    transform: rotate(48deg);
}
.card:nth-child(5) {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}

div#controls {
position: absolute;
top: 120px;
width: 150px;
font-size:.8em;
}

@media (max-width: 945px) {
	#banner,
	#controls {
		display:none;
	}
}

@media (max-width: 710px) {
	body {
		padding:0;
		margin:0 !important;
	}
	#card {
		border:none;
		border-radius:0;
		-moz-border-radius:0;
		-webkit-border-radius:0;
	}
}